/* Estilo para o componente Accordion */
.accordion {
    width: 95%;
    margin-top: 3px;
    margin-bottom: 20px;
    min-height: 100px;
    margin-left: 41px;
}

.accordion-header {
    padding: 15px;
    background-color: #e78312;
    font-weight: bold;
    border: 1px solid black;
    border-top: transparent;
}

.accordion-header-first {
    padding: 15px;
    background-color: #e78312;
    font-weight: bold;
    border: 1px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.accordion-content {
    padding: 15px;
    background-color: #fff;
    height: auto;
    border: 1px solid black;
    border-top: transparent;
}

.accordion-content.active {
    display: block;
}

/* Estilo para o botão de confirmar */
.accordion-confirm-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #28a745;
    color: #fafafa;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.accordion-confirm-button:hover {
    background-color: #28a746d5;
}