/* Estilo para o componente Accordion */
.accordion {
    width: 95%;
    margin-top: 3px;
    margin-bottom: 20px;
    min-height: 100px;
    margin-left: 41px;
}

.accordion-header {
    padding: 15px;
    background-color: #e70;
    font-weight: bold;
    border: 1px solid black;
    border-top: transparent;
}

.accordion-header-first {
    padding: 15px;
    background-color: #e70;
    font-weight: bold;
    border: 1px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.accordion-content {
    padding: 15px;
    background-color: #fff;
    height: auto;
    border: 1px solid black;
    border-top: transparent;
}

.accordion-content.active {
    display: block;
}

/* Estilo para os botões */
.accordion-confirm-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #125021;
    color: #fafafa;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.accordion-confirm-button:hover {
    background-color: #1d7d35;
}

.accordion-back-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #501212;
    color: #fafafa;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.accordion-back-button:hover {
    background-color: #7d1d1d;
}

.accordion-finish-button {
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #125021;
    color: #fafafa;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.accordion-finish-button:hover {
    background-color: #1d7d35;
}

.accordion-finish-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.accordion-content-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
    background-color: #fff;
    height: auto;
    border-top: transparent;
}

.loginAccordion {
    padding: 10px 20px;
    width: 20%;
    height: auto;
    background-color: #125021;
    color: #fafafa;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.loginAccordion:hover {
    background-color: #1d7d35;
}

.loginAccordion-back {
    margin-top: 10px;
    padding: 10px 20px;
    width: 20%;
    height: auto;
    background-color: #501212;
    color: #fafafa;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.loginAccordion-back:hover {
    background-color: #7d1d1d;
}

@media only screen and (max-width: 834px) {
    .accordion {
        width: 90vw;
        margin-left: 5vw;
    }

    .accordion-header,
    .accordion-header-first {
        font-size: 15px;
        padding: 10px;
    }

    .accordion-content,
    .accordion-content-login {
        padding: 10px;
        font-size: 15px;
    }

    .accordion-content-login {
        font-size: 13px;
    }

    .loginAccordion,
    .loginAccordion-back {
        width: 50%;
    }

    .accordion-confirm-button,
    .accordion-back-button,
    .accordion-finish-button {
        font-size: 13px;
    }
}

@media only screen and (max-width: 480px) {
    .accordion {
        margin-top: 15px;
    }

    .accordion-header,
    .accordion-header-first {
        font-size: 11px;
    }

    .accordion-content,
    .accordion-content-login {
        font-size: 11px;
    }

    .accordion-confirm-button {
        font-size: 11px;
    }

    .loginAccordion-back {
        font-size: 11px;
    }
}