/* CompraFilme.css */

.containerCompra{
    display: flex;
    justify-content:center;
    flex-direction: column;
}

.cadeirasEaccordion{
    display: flex;
    justify-content:center;
    flex-direction: row;
}

@media (max-width: 834px) {
    .cadeirasEaccordion{
        flex-direction: column;
    }
}