#movies-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.movie-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.movie-item img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.movie-item h3 {
    margin: 0;
}

.movie-item p {
    margin: 5px 0;
}

.movie-item :hover img {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.movie-item :hover h3 {
    transform: translateY(10px);
    transition: transform 0.3s ease-in-out;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
}

.title h1 {
    color: #333;
    margin: 10px 0;
    font-size: 2em;
}

.title h3 {
    color: #e57926;
    text-decoration: underline #afafaf;
    margin: 10px 0;
    font-size: 1.5em;
}

.name-movie {
    text-decoration: none;
    color: #333;
}

@media (max-width: 834px) {
    #movies-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .movie-item img {
        max-width: 100%;
    }

    .title {
        font-size: 2em;
        margin-bottom: 10px;
    }

    .title h1 {
        font-size: 1.8em;
    }

    .title h3 {
        font-size: 1.3em;
    }

    .movie-item :hover img {
        transform: none;
        transition: none;
    }
    
    .movie-item :hover h3 {
        transform: none;
        transition: none;
    }
}

@media (max-width: 480px) {
    #movies-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .title {
        font-size: 1.5em;
    }

    .title h1 {
        font-size: 1.3em;
    }

    .title h3 {
        font-size: 1em;
    }
}