/* header.css */

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 100px;
}

.search-box {
  display: flex;
  align-items: center;
  position: relative;
  width: 40%;
  height: auto;
}

#pesquisa{
  border-radius: 3px;
  border: none;
  margin: 0% 0%;
  box-sizing: 50%;
  }

.search-icon {
  font-size: 1.5em;
  margin: 0% 1% 0% 0%;
}

.login{
  margin:  0px 5px 0px 0px;
  height: auto;
  color: #fff;
  text-decoration: none;
  font-size: 3em;
}

/* Estilos para tablets */
@media (max-width: 768px) {
  .search-box {
    width: 60%;
  }
}

/* Estilos para celulares */
@media (max-width: 480px) {
  .logo img {
    width: 80px;
  }

  .search-box {
    width: 70%;
  }

  #pesquisa {
    box-sizing: border-box;
    width: 100%;
  }

  .search-icon {
    font-size: 1em;
  }

  .login {
    font-size: 2em;
  }
}