/* header.css */

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 100px;
}

.search-box {
  display: flex;
  align-items: center;
  position: relative;
  width: 60%;
  height: auto;
}

.search-box input[type="text"] {
  border-radius: 3px;
  border: none;
  margin: 0% 0%;
  
  }

.search-icon {
  font-size: 3em;
  margin: 0% 0% 0% 5%;
}

.login{
  height: auto;
  color: #fff;
  text-decoration: none;
  font-size: 3em;
}

.user-icon svg{
  margin: 5px;
}