/* header.css */

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  margin-left: 5%;
  width: 150px;
  height: auto;
}

.search-box {
  display: flex;
  align-items: center;
  position: relative;
  width: 40%;
  height: auto;
}

#pesquisa{
  border-radius: 3px;
  border: none;
  margin: 0% 0%;
  box-sizing: 50%;
  }
  
.search-icon{
  color: #d1d1d1;
  font-size: 1.5em;
  margin-left: 10px;
}

.search-icon:hover{
  color: #9f9f9f;
}
  
.icon_login{
  margin:  0px 5px 0px 0px;
  height: auto;
  color: #d1d1d1;
  text-decoration: none;
  font-size: 3em;
}

.icon_login :hover{
  color: #9f9f9f;
}

/* Estilos para tablets */
@media (max-width: 768px) {
  .search-box {
    width: 60%;
  }
}

/* Estilos para celulares */
@media (max-width: 480px) {
  .logo img {
    width: 80px;
  }

  .search-box {
    width: 70%;
  }

  #pesquisa {
    box-sizing: border-box;
    width: 100%;
  }

  .search-icon {
    font-size: 1em;
  }

  .login {
    font-size: 2em;
  }
}
.profile-popup {
  position: absolute;
  top: 70px;
  right: 0;
  display: block;
  width: 270px;
  padding: 10px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.profile-popup h2, h4{
  color: #333;
}

.logout-button {
  width: 100%;
  height: auto;
  padding: 10px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.logout-button:hover {
  background-color: #c82333;
}

.popup-login{
  display: flex;
  flex-direction: column;
}

.login-button {
  width: 100%;
  height: auto;
  padding: 10px;
  background-color: #3cae44;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.login-button:hover {
  background-color: #2f8c35;
}