.conteiner_login {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fundo_form{
    width: 50%;
    margin: 10%;
}

.form_login {
    background-color: #fafafa80;
    padding: 50px;
    border: 1px solid #bbb;
    border-radius: 10px;
}
label {
    display: block;
    margin-bottom: 10px;
    text-align: justify;
}
input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="date"] {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}
input[type="submit"] {
    background-color: #b1b1b1;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
}
input[type="submit"]:hover {
    background-color: #3e8e41;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.cadastre_se {
    text-align: center;
    margin-top: 10px;
}
.links {
    color: #666;
    text-decoration: none;
}
.links:hover {
    color: #000;
    text-decoration: underline;
}
p {
    text-align: center;
}
.esqueceu {
    display: block;
    text-align: justify;
}

.SignupForm{
    position: relative;
}

.tnt-novamente-txt{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin-bottom: 20px;
    margin-top: -10px;
}


.tnt-novamente{
    text-decoration: none;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #8f2121;
    color: #fafafa;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.tnt-novamente:hover {
    background-color: #671818;
}

.tnt-feita-txt{
    margin-bottom: 20px;
    margin-top: -10px;
}
.tnt-feita-txt h2{
    margin-top: 0;
    color: #218f39;
    font-size: 10em;
}

.tnt-feita{
    text-decoration: none;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #218f39;
    color: #fafafa;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.tnt-feita:hover {
    background-color: #155a24;
}