.trailer-and-sinopse {
  display: flex;
  margin: 20px;
  color: #fafafa;
  text-shadow: 1px 1px #000;
  padding-top: 3%;
  justify-content: center;
}

.trailer {
  color: #fafafa;
  background-color: #fff;
  border: 5px solid white;
  border-bottom: 4px;
}

.sinopse {
  flex-basis: 50%;
  color: #fafafa;
  padding: 0 50px;
}

.showtime-items {
  display: flex;
  margin-top: 50px;
  margin-left: 5px;
  color: #fafafa;
}

.showtime-item {
  display: flex;
  align-items: center;
}

.showtime-item .room {
  font-weight: bold;
  margin-bottom: 5px;
}

.showtime-item .time-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 50px;
}

.showtime-item .time {
  font-weight: bold;
  margin-bottom: 5px;
  border: 1px solid #fafafa;
  padding: 5px 10px;
  text-decoration: none;
  color: #fafafa;
}

.showtime-item .time:hover {
  background-color: #000;
  color: #fafafa;
  transform: scale(1.1);
  transition: transform 0.1s ease-in-out;
}

.showtime-item .type {
  font-style: italic;
}

.showtime-items-container {
  position: absolute;
  bottom: 20px;
}

/* Estilos para tablets */
@media only screen and (max-width: 834px) {
  .trailer-and-sinopse {
    flex-direction: column;
    align-items: center;
  }
  
  .showtime-items-container {
    position: static;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: x-large;
  }
  
  .showtime-item .time-box {
    margin-right: 10px;
  }

  .trailer {
    margin-top: 20px;
  }

  .sinopse p {
    margin-bottom: 30px;
    font-size: x-large;
  }

  .sinopse {
    margin-left: 50%;
    margin-right: 50%;
  }
}

/* Estilos para celulares */
@media only screen and (max-width: 480px) {
  .trailer-and-sinopse {
    flex-direction: column;
    align-items: center;
  }
  
  .trailer {
    margin-top: 20px;
  }

  .trailer iframe {
    width: 350px;
    height: 200px;
  }
  
  .showtime-items {
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .showtime-item .time-box {
    margin-right: 5px;
  }

  .showtime-items-container {
    margin-bottom: 20px;
    font-size: x-small;
    width: 90vw;
  }

  .sinopse p {
    margin-bottom: 30px;
    font-size: medium;
  }
}